<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app"> 
        <input v-model="newAge" type="text" placeholder="나이를 입력하세요.">
        <div>
            <button @click="fnView">확인!</button>
        </div>
        <template v-if="isView">
            <div v-if="age >= 30">30세 이상 입니다.</div>
            <div v-else-if="age >= 20">20세 이상 입니다.</div>
            <div v-else>20살 미만입니다.</div>
        </template>
        <hr>
        <!-- and(&&), or(||) -->
        <div v-if="age >= 20 && age <= 29">20대 입니다.</div>
    </div>  
</body>
</html>
<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수 영역, ex) name : '홍길동', age : 20
                age : 0,
                newAge : 0,
                isView : false
               
            };
        },
        methods: {
            // 메소드 영역 
            fnView(){
                this.age = this.newAge;
                this.isView = true;
            }
        },
        mounted() {
            // 처음 시작할 때 실행되는 부분
        }
    });
    app.mount('#app');
</script>